.container {
	display: flex;
}

.container div {
	margin: 4%;
}

.col-emails-object {
	padding: 3%;
}

.emails-object {
	margin-top: 3%;
}

.emails-object li {
	cursor: pointer;
	padding: 10px;
	list-style: none;
}

#email-object {
	text-decoration: none;
	color: #d8d9de;
}

#email-object:hover {
	color: #282828;
}

.col-emails-body {
	border: 1px solid black;
	width: 60%;
	padding: 3%;
}