.container {
	display: flex;
}

.container div {
	margin: 4%;
}

.col-emails-object {
	padding: 2%;
		border: 1px solid black;
}

.emails-object {
	margin-top: 3%;
}

.email-object {
	cursor: pointer;
	padding: 10px;
	list-style: none;
}

.col-emails-body {
	border: 1px solid black;
	width: 60%;
	padding: 2%;
}