<div class="container">

	<div class="col-emails-object">

		<h1>Your mails</h1>

		<ul class="emails-object">
			<% @emails.each do |email| %>
			  <li class="email-object"><%= email.object %></li>
			  </br>
			<% end %>
		</ul>
	</div>

	<div class="col-emails-body">
		<h1>Email object</h1>
	</div>

</div>